src/conf/xml-resources/web-service-references/logiclink/wsdl/localhost_1581/logic-layer/logiclink.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://logiclayer/" xmlns:ns1="http://datalayer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://logiclayer/">

<xs:import namespace="http://datalayer/" schemaLocation="http://localhost:1581/logic-layer/logiclink?xsd=2"/>

<xs:element name="addCustomer" type="tns:addCustomer"/>

<xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="checkUserPsd" type="tns:checkUserPsd"/>

<xs:element name="checkUserPsdResponse" type="tns:checkUserPsdResponse"/>

<xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

<xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

<xs:element name="deleteTicket" type="tns:deleteTicket"/>

<xs:element name="deleteTicketResponse" type="tns:deleteTicketResponse"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

<xs:element name="getCusId" type="tns:getCusId"/>

<xs:element name="getCusIdResponse" type="tns:getCusIdResponse"/>

<xs:element name="getMessage" type="tns:getMessage"/>

<xs:element name="getMessageResponse" type="tns:getMessageResponse"/>

<xs:element name="viewCustomers" type="tns:viewCustomers"/>

<xs:element name="viewCustomersResponse" type="tns:viewCustomersResponse"/>

<xs:element name="viewTickets" type="tns:viewTickets"/>

<xs:element name="viewTicketsResponse" type="tns:viewTicketsResponse"/>

<xs:element name="viewUsers" type="tns:viewUsers"/>

<xs:element name="viewUsersResponse" type="tns:viewUsersResponse"/>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="pswd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkUserPsd">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserPsdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTicket">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTicketResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewUsersResponse">
<xs:sequence>
<xs:element name="return" type="ns1:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomer">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewCustomers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewCustomersResponse">
<xs:sequence>
<xs:element name="return" type="ns1:customers" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCusId">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCusIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewTickets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewTicketsResponse">
<xs:sequence>
<xs:element name="return" type="ns1:tickets" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMessage">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="line" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMessageResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>