web/WEB-INF/wsdl/localhost_1581/logic-layer/logiclink.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logiclayer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logiclayer/" name="logiclink">
<types>
<xsd:schema>
<xsd:import namespace="http://logiclayer/" schemaLocation="http://localhost:1581/logic-layer/logiclink?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://datalayer/" schemaLocation="http://localhost:1581/logic-layer/logiclink?xsd=2"/>
</xsd:schema>
</types>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<message name="checkUserPsd">
<part name="parameters" element="tns:checkUserPsd"/>
</message>
<message name="checkUserPsdResponse">
<part name="parameters" element="tns:checkUserPsdResponse"/>
</message>
<message name="viewTickets">
<part name="parameters" element="tns:viewTickets"/>
</message>
<message name="viewTicketsResponse">
<part name="parameters" element="tns:viewTicketsResponse"/>
</message>
<message name="getCusId">
<part name="parameters" element="tns:getCusId"/>
</message>
<message name="getCusIdResponse">
<part name="parameters" element="tns:getCusIdResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<portType name="logiclink">
<operation name="getMessage">
<input wsam:Action="http://logiclayer/logiclink/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://logiclayer/logiclink/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
<operation name="checkUserPsd">
<input wsam:Action="http://logiclayer/logiclink/checkUserPsdRequest" message="tns:checkUserPsd"/>
<output wsam:Action="http://logiclayer/logiclink/checkUserPsdResponse" message="tns:checkUserPsdResponse"/>
</operation>
<operation name="viewTickets">
<input wsam:Action="http://logiclayer/logiclink/viewTicketsRequest" message="tns:viewTickets"/>
<output wsam:Action="http://logiclayer/logiclink/viewTicketsResponse" message="tns:viewTicketsResponse"/>
</operation>
<operation name="getCusId">
<input wsam:Action="http://logiclayer/logiclink/getCusIdRequest" message="tns:getCusId"/>
<output wsam:Action="http://logiclayer/logiclink/getCusIdResponse" message="tns:getCusIdResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://logiclayer/logiclink/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://logiclayer/logiclink/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
</portType>
<binding name="logiclinkPortBinding" type="tns:logiclink">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUserPsd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCusId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="logiclink">
<port name="logiclinkPort" binding="tns:logiclinkPortBinding">
<soap:address location="http://localhost:1581/logic-layer/logiclink"/>
</port>
</service>
</definitions>