web/WEB-INF/wsdl/localhost_1581/logic-layer/logiclink.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logiclayer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logiclayer/" name="logiclink">
<types>
<xsd:schema>
<xsd:import namespace="http://logiclayer/" schemaLocation="http://localhost:1581/logic-layer/logiclink?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://datalayer/" schemaLocation="http://localhost:1581/logic-layer/logiclink?xsd=2"/>
</xsd:schema>
</types>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="viewUsers">
<part name="parameters" element="tns:viewUsers"/>
</message>
<message name="viewUsersResponse">
<part name="parameters" element="tns:viewUsersResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="viewTickets">
<part name="parameters" element="tns:viewTickets"/>
</message>
<message name="viewTicketsResponse">
<part name="parameters" element="tns:viewTicketsResponse"/>
</message>
<message name="getUserId">
<part name="parameters" element="tns:getUserId"/>
</message>
<message name="getUserIdResponse">
<part name="parameters" element="tns:getUserIdResponse"/>
</message>
<message name="viewCustomers">
<part name="parameters" element="tns:viewCustomers"/>
</message>
<message name="viewCustomersResponse">
<part name="parameters" element="tns:viewCustomersResponse"/>
</message>
<message name="getCusId">
<part name="parameters" element="tns:getCusId"/>
</message>
<message name="getCusIdResponse">
<part name="parameters" element="tns:getCusIdResponse"/>
</message>
<message name="sendPassword">
<part name="parameters" element="tns:sendPassword"/>
</message>
<message name="sendPasswordResponse">
<part name="parameters" element="tns:sendPasswordResponse"/>
</message>
<message name="deleteTicket">
<part name="parameters" element="tns:deleteTicket"/>
</message>
<message name="deleteTicketResponse">
<part name="parameters" element="tns:deleteTicketResponse"/>
</message>
<message name="getPassword">
<part name="parameters" element="tns:getPassword"/>
</message>
<message name="getPasswordResponse">
<part name="parameters" element="tns:getPasswordResponse"/>
</message>
<message name="checkUserPsd">
<part name="parameters" element="tns:checkUserPsd"/>
</message>
<message name="checkUserPsdResponse">
<part name="parameters" element="tns:checkUserPsdResponse"/>
</message>
<portType name="logiclink">
<operation name="getMessage">
<input wsam:Action="http://logiclayer/logiclink/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://logiclayer/logiclink/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://logiclayer/logiclink/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://logiclayer/logiclink/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://logiclayer/logiclink/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://logiclayer/logiclink/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://logiclayer/logiclink/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://logiclayer/logiclink/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="viewUsers">
<input wsam:Action="http://logiclayer/logiclink/viewUsersRequest" message="tns:viewUsers"/>
<output wsam:Action="http://logiclayer/logiclink/viewUsersResponse" message="tns:viewUsersResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://logiclayer/logiclink/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://logiclayer/logiclink/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="viewTickets">
<input wsam:Action="http://logiclayer/logiclink/viewTicketsRequest" message="tns:viewTickets"/>
<output wsam:Action="http://logiclayer/logiclink/viewTicketsResponse" message="tns:viewTicketsResponse"/>
</operation>
<operation name="getUserId">
<input wsam:Action="http://logiclayer/logiclink/getUserIdRequest" message="tns:getUserId"/>
<output wsam:Action="http://logiclayer/logiclink/getUserIdResponse" message="tns:getUserIdResponse"/>
</operation>
<operation name="viewCustomers">
<input wsam:Action="http://logiclayer/logiclink/viewCustomersRequest" message="tns:viewCustomers"/>
<output wsam:Action="http://logiclayer/logiclink/viewCustomersResponse" message="tns:viewCustomersResponse"/>
</operation>
<operation name="getCusId">
<input wsam:Action="http://logiclayer/logiclink/getCusIdRequest" message="tns:getCusId"/>
<output wsam:Action="http://logiclayer/logiclink/getCusIdResponse" message="tns:getCusIdResponse"/>
</operation>
<operation name="sendPassword">
<input wsam:Action="http://logiclayer/logiclink/sendPasswordRequest" message="tns:sendPassword"/>
<output wsam:Action="http://logiclayer/logiclink/sendPasswordResponse" message="tns:sendPasswordResponse"/>
</operation>
<operation name="deleteTicket">
<input wsam:Action="http://logiclayer/logiclink/deleteTicketRequest" message="tns:deleteTicket"/>
<output wsam:Action="http://logiclayer/logiclink/deleteTicketResponse" message="tns:deleteTicketResponse"/>
</operation>
<operation name="getPassword">
<input wsam:Action="http://logiclayer/logiclink/getPasswordRequest" message="tns:getPassword"/>
<output wsam:Action="http://logiclayer/logiclink/getPasswordResponse" message="tns:getPasswordResponse"/>
</operation>
<operation name="checkUserPsd">
<input wsam:Action="http://logiclayer/logiclink/checkUserPsdRequest" message="tns:checkUserPsd"/>
<output wsam:Action="http://logiclayer/logiclink/checkUserPsdResponse" message="tns:checkUserPsdResponse"/>
</operation>
</portType>
<binding name="logiclinkPortBinding" type="tns:logiclink">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCusId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUserPsd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="logiclink">
<port name="logiclinkPort" binding="tns:logiclinkPortBinding">
<soap:address location="http://localhost:1581/logic-layer/logiclink"/>
</port>
</service>
</definitions>